<br/>
<br/>
<div class="container">
  <div class="scrollspy-example bg-light p-3 rounded-2">
   <h1 class="display-3">About me</h1>

  <div class="row">
    <p style="text-align: justify">
      哈喽阿，大家好！我是Murphy,这里是我的个人博客网站MurBarn（中文：墨仓）。目前该网站属于测试阶段~功能尚且不全面，请大家口/手下留情，黑客朋友们也别在我这个网站下费功夫了，非营利的，我就是做个网站自娱自乐，嘻嘻嘻～
    </p>
    <p style="text-align: justify">
      Hello,everyone!How are u doing today? This is my personal blog which name is MurBarn(Chinese:莫仓)。Presently, the website is in the testing stage, the functionality of my blog is very rudimentary. My dear Hecker friends please do not cost time and money on my website, it is not profit.
    </p>
    <hr class="my-4"/>
  </div>

    <div class="btn-group mr-2 about-list" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://github.com/SJ2001BJ';">Github</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href = 'https://www.instagram.com/murphy_jun_shi/';">Instagram</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href = 'www.linkedin.com/in/MURPHYJUNSHI';">Linkin</button>
    </div>

  </div>
</div>